@import "library";
@import "reset";

@import "compass/css3/transform";
@import "compass/css3/transition";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

%hover {
      font-size: 18px;
      border: solid .1em;
      padding: 5px 10px;
      margin: 0 25px 15px 25px;
}

%button {
      margin-bottom: 40px;
      text-transform: uppercase;
      width: 200px;
      height: 35px;
      font-size: 14px;
      font-family: sans-serif;
      border: 1px solid fade-out(white, .5);
      background-color: #D40802;
      color: white;
      padding: 8px 0;
}


// Mobile
// @include respond-to(handheld) {
  .base {
    @extend %container;
    @include perspective(1000);
  }

  .card {
    position: relative;
    @include transition(all 300ms ease);
    @include transform-style(preserve-3d);
    @include transform-origin(50% 50%);
    height: 100%;

    &:hover {
        @include rotateY(180deg);
    }
}

%card-side {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    border: solid .1em;
    @include backface-visibility(hidden);
}

.question {
  @extend %card-side;
}

.answer {
  @extend %card-side;
  @include rotateY(180deg);
    &:hover {
      display: none;
    }
    .correct {
      background-color: lightgreen;
      border: solid .2em;
      font-weight: bold;
    }
    .wrong {
      color: fade-out(#0F2C79, .8);
    }
}

  body {
    background: white;
    text-align: center;
    font-family: 'IM Fell DW Pica SC', serif;
    color: #0F2C79;
    max-width: 500px;
    margin: 0 auto;

    button {
      @extend %button;
    }


  input[type='radio'] {
      display: none;
      + label {
          display: inline-block;
          width: 70%;
          font-size: 18px;
          border: solid .1em;
          padding: 5px 10px;
          margin: 0 25px 15px 25px;

          &:hover {
            @extend %hover;
            border: solid .2em;
            background-color: fade-out(#20B4FF, .9);
            }
        }

        &:checked + label {
          @extend %hover;
          border: solid .2em;
          background-color: fade-out(#20B4FF, .9);
          }
    }


    // @include backface-visibility(hidden);

    button:hover {
        @extend %button;
        border: solid .2em #0F2C79;
    }

    h1 {
      font-size: 24px;
      padding: 25px 10px;
      color: white;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      padding: 5px 5px;
      margin: 10px 5px;
    }

    h2 {
      border-bottom: solid .1em;
      text-align: left;
      padding: 15px 25px 10px 25px;
      color: fade-out(#0F2C79, .3);
    }

    .introduction {
      background-color: #20B4FF;

      p {
        color: white;
        font-weight: normal;
        padding: 10px 25px 40px 25px;
      }
    }

    i {
      margin: 0 10px;
      margin-bottom: 10px;
    }
    .results {
      display: none;
    }
  }

// }

